*{
	font-size: 12px;
}
body{
	background: darkgreen;
}
button i{
	text-align: center !important;	
	width: 100%;
}
h1{
	text-align: center;
	font-size: 2em;
}
table{
	table-layout:fixed;
}
table th{
	text-align: center;
}
table td{
	text-align: center;
}
table button{
	width: 100%;
	margin-top: 30px !important;
}
p{
	font-size: 1.2em;
}
div,p,td{
	word-wrap: break-word !important;		
}
a{
	display: block;
}
a,a:hover{
	text-decoration: none;
	color: black;
}
img{
	width: 100%;	
	min-width: 30%;
	display: block;
	margin: 0 auto;	
	border: 5px solid darkgreen;
}
form input[type=tel],input[type=email],form button,input[type=text],input[type=password],textarea,select{
	width: 100%;
	border: 1px solid darkgreen !important;
}
form textarea{
	resize: none;
	height: 200px;
}
form input[type=submit]:disabled{
	background: grey !important;
}
.wrapper{
	width: 1100px;
	margin: 0 auto;
}
.content,.footer{
	background: white;
	margin-left: 40px;
	margin-right: 40px;
}
.footer{
	margin-bottom: 10px;	
}
.column,.colums{
	padding: 10px;
}
.header{
	margin-top: 10px;
}
#headerImg{
	width: 100%;
	height: 150px;
	border: none;
	margin-bottom: 10px;
}
#nav{
	width: 1100px;
  	margin-bottom: 5px !important;
  	padding: 0 !important;
}
#nav ul {
  z-index: 100;
  list-style: none;
  background-color: yellow;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}

#nav li {
  	line-height: 50px;
  	text-align: left;
  	font-weight: bold;
  	font-size: 1.5em;  	
}

#nav a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  transition: 2s color;  
}

#nav a:hover {
	color: darkgreen;
}

/* Sub Menus */ 
#nav li ul{
	display: none;
}
#nav li li {
  font-size: .8em;
}
#nav li:hover ul {
display: block;
}
#footerMessage{
	background: yellow;
	text-align: center;
	font-size: 1.5em;
	padding: 0;
	border-top: 10px solid darkgreen;
	border-bottom: 10px solid darkgreen;
}
.socialLinks{
	text-align: center;
}
.socialLinks img{
	border: none !important;
	width: 100px;
	height: 100px;
}
.copyright {
	text-align: center;
	font-weight: bold;
}
.carousel{
	width: 100%;
}
.carousel img{
	width: 80%;	
	height: 400px;
}
.carouselGallery img{
	width: 60%;
	display: block;
	margin: 0 auto;
	height: 400px;
}
#courseList{
	list-style-type: none;
}
#courseList li{
	font-weight: bold;
}
#courseList li i{
	padding-right: 10px;
}
.aboutus div.row{
	margin: 40px !important;
}
.aboutus img{
	display: block;
	width: 40%;
	height: 300px;
	margin: 0 auto;
}
.button-primary{
	background: darkgreen !important;
	border: 1px solid darkgreen !important;
}
.button-danger{
	color: white !important;
	background: red !important;
	border: 1px solid red !important;	
}

.courses div.one-half{
	border: 10px solid black;
}
.courses img{
	height: 300px;
}
.courses img:nth-of-type(1){
	margin-top: 10px !important;
}
.slick-dots li button:before{
	color: darkgreen !important;
}
.active{
	background: white;
	color: darkgreen;
}
.learn-more,.logout{
	background: darkgreen;
	padding: 10px;
	width: 30%;
	text-align: center;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
}
.learn-more:hover{
	color: white;
}
.course img{
	width: 30%;
	height: 300px;
	margin-bottom: 20px;
}
.error{
	color: red;
}

.status,.errorstatus{
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 1.5em;
}
.status{
	background: darkgreen;	
}
.errorstatus{
	background: red;
}
.anchorblue{
	color: blue !important;
	padding: 10px;
	font-size: 1.3em;
	text-align: center;

}
.profile{
	text-align: center;
}
.profile #profilepic{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 10px;
}
.admindashboard ul li{
	list-style: none;
	text-align: center;
	padding: 10px;
}
.admindashboard ul li.active{
	background: darkgreen !important;
}
.admindashboard ul li.active a{
	color: white;
}
.admindashboard ul li a{
	font-size: 1.5em;	
}
.pagination li{
	display: inline-block;
	padding: 10px;
}
.pagination li.active{
	background: darkgreen !important;
	color: white;
}
.message p{
	text-align: center;
	font-size: 1.2em;
}

/* end */
@media screen and (min-width: 650px) {
  #nav{
  	margin-bottom: 10px !important;
  }
  #nav li {
    width: 170px;
    height: 50px;
	font-size: 5em;
    display: inline-block;
    margin-top: 10px;
  }

  #nav a {
    border-bottom: none;
  }

  #nav > ul > li {
    text-align: center;
  }

  #nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  #nav li ul {
    position: absolute;
    display: none;
    width: inherit;
	z-index: 100;  
    padding: 5px !important;	  	
  }

  #nav li:hover ul {
    display: block;
  }

  #nav li ul li {
    display: block;
  }
}